body {
    background-image: url("games.png");
    background-position-x: center;
    background-size: 100%;
}


/* Parah. */

#parah {
    position: absolute;
    width: 148px;
    height: 38px;
    left: 58px;
    top: 21px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 80%;
    /* or 38px */
    color: #40336D;
}


/* Learn */

#learn {
    position: absolute;
    width: 73px;
    height: 24px;
    left: 636px;
    top: 29px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80%;
    /* identical to box height, or 24px */
    color: #40336D;
}


/* News */

#news {
    position: absolute;
    width: 71px;
    height: 24px;
    left: 808px;
    top: 27px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80%;
    /* identical to box height, or 24px */
    color: #40336D;
}


/* Game */

#game {
    position: absolute;
    width: 75px;
    height: 24px;
    left: 975px;
    top: 29px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80%;
    /* identical to box height, or 24px */
    color: #40336D;
}

a {
    text-decoration: none;
}


/* About */

#about {
    position: absolute;
    width: 78px;
    height: 24px;
    left: 1144px;
    top: 29px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80%;
    /* identical to box height, or 24px */
    color: #40336D;
}

#title>#q1 {
    /* Yuk Main Games! :) */
    position: absolute;
    width: 400px;
    height: 10px;
    left: 58px;
    top: 140px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 80%;
    /* or 77px */
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'cpsp' on;
    color: #40336D;
}

#title>#q2 {
    /* Yuk Main Games! :) */
    position: absolute;
    width: 400px;
    height: 200px;
    left: 58px;
    top: 140px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 80%;
    /* or 77px */
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'cpsp' on;
    color: #40336D;
}

#title>#a {
    position: absolute;
    width: 391px;
    height: 138px;
    left: 66px;
    top: 361px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 80%;
    /* or 22px */
    text-align: center;
    color: #40336D;
}

.button {
    background-color: #40336D;
    border: none;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

#switch {
    /* button */
    position: absolute;
    width: 330px;
    height: 80px;
    left: 97px;
    top: 563px;
}


/* parahkuis 1 */

#parahkuis1 {
    position: absolute;
    width: 1188px;
    height: 840px;
    left: -205px;
    top: 603px;
}


/* mitosfakta 1 */

#mitosfakta1 {
    position: absolute;
    width: 735px;
    height: 735px;
    left: 545px;
    top: 1226px;
}


/* games 1 */

#games1 {
    position: absolute;
    width: 1280px;
    height: 1981px;
    left: 1px;
    top: 0px;
}


/* Lorem Ipsum */

#kuis>#judul {
    position: absolute;
    width: 379px;
    height: 64px;
    left: 720px;
    top: 810px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 64px */
    letter-spacing: 0.015em;
    color: #40336D;
}


/* Uji pengetahuanmu di game lorem ipsum (Kuis). Yuk buktikan seberapa hebat kamu dalam memahami materi yang disajikan. */

#kuis>#text {
    position: absolute;
    width: 430px;
    height: 122px;
    left: 700px;
    top: 935px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #40336D;
}


/* button */

#kuis-play {
    position: absolute;
    width: 330px;
    height: 80px;
    left: 741px;
    top: 1082px;
}


/* mitos fakta*/

#mifak>#judul {
    position: absolute;
    width: 379px;
    height: 64px;
    left: 130px;
    top: 1320px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 64px */
    letter-spacing: 0.015em;
    color: #40336D;
}


/* Uji pengetahuanmu di game lorem ipsum (Kuis). Yuk buktikan seberapa hebat kamu dalam memahami materi yang disajikan. */

#mifak>#text {
    position: absolute;
    width: 460px;
    height: 87px;
    left: 82px;
    top: 1443px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;
    color: #40336D;
}


/* button */

#mifak-play {
    position: absolute;
    width: 330px;
    height: 80px;
    left: 135px;
    top: 1594px;
}
