/* Parah. */
#parah{
    position: absolute;
    width: 148px;
    height: 38px;
    left: 58px;
    /*top: 10px;*/

    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 80%;
    /* or 38px */


    color: #40336D;
}

/* Learn */
#learn{
    position: absolute;
    width: 73px;
    height: 24px;
    left: 636px;
    top: 29px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 80%;
    /* identical to box height, or 24px */


    color: #40336D;
}
/* News */
#news{
position: absolute;
width: 71px;
height: 24px;
left: 808px;
top: 27px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 80%;
/* identical to box height, or 24px */


color: #40336D;
}
/* Game */
#game{
position: absolute;
width: 75px;
height: 24px;
left: 975px;
top: 29px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 80%;
/* identical to box height, or 24px */


color: #40336D;
}

/* About */
#about{
position: absolute;
width: 78px;
height: 24px;
left: 1144px;
top: 29px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 80%;
/* identical to box height, or 24px */


color: #40336D;
}

#title>#q {
    /* Yuk Main Games! :) */
    position: absolute;
    width: 410px;
    height: 162px;
    left: 58px;
    top: 135px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 80%;
    /* or 77px */
    font-feature-settings: 'cpsp' on;
    color: #40336D;
}

#title>#a {
    position: absolute;
    width: 359px;
    height: 104px;
    left: 58px;
    top: 354px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 110%;
    /* or 22px */

    color: #40336D;

}

#button1 {
    /* button */
    position: absolute;
    width: 330px;
    height: 80px;
    left: 58px;
    top: 529px;

    background-color: #40336D;
    border-radius: 20px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    letter-spacing: 0.1em;

    font-color: #FFFFFF;
}

#switch {
    /* SWITCH GAME */
    position: absolute;
    width: 187px;
    height: 24px;
    left: 139px;
    top: 548px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
   
    color: #FFFFFF;
}
/* parahkuis 1 */
#parahkuis1{
    position: absolute;
    width: 1188px;
    height: 840px;
    left: -205px;
    top: 603px;
}

/* mitosfakta 1 */
#mitosfakta1{
position: absolute;
width: 735px;
height: 735px;
left: 508px;
top: 1246px;
}

/* games 1 */
#games1{
position: absolute;
width: 1280px;
height: 1981px;
left: 1px;
top: 0px;

 background-image: url(games.png);
}

/* Lorem Ipsum */
#kuis>#judul{
position: absolute;
width: 379px;
height: 64px;
left: 674px;
top: 829px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 100%;
/* identical to box height, or 64px */

letter-spacing: 0.015em;

color: #40336D;
}

/* Uji pengetahuanmu di game lorem ipsum (Kuis). Yuk buktikan seberapa hebat kamu dalam memahami materi yang disajikan. */
#kuis>#text{
position: absolute;
width: 415px;
height: 87px;
left: 680px;
top: 960px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: justify;

color: #40336D;
}

/* button */
#kuis > #button{
position: absolute;
width: 330px;
height: 80px;
left: 680px;
top: 1070px;

background-color: #40336D;
border-radius: 20px;
display: inline-block;
transition-duration: 0.4s;
cursor: pointer;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */

letter-spacing: 0.1em;

font-color: #FFFFFF;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

/* LET’S PLAY */
#kuis>#play{
position: absolute;
width: 148px;
height: 24px;
left: 771px;
top: 1095px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 100%;
 /*identical to box height, or 24px */

letter-spacing: 0.1em;

color: #FFFFFF;
}

/* mitos fakta*/
#mifak > #judul{
position: absolute;
width: 379px;
height: 64px;
left: 98px;
top: 1350px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 100%;
/* identical to box height, or 64px */

letter-spacing: 0.015em;

color: #40336D;
}

/* Uji pengetahuanmu di game lorem ipsum (Kuis). Yuk buktikan seberapa hebat kamu dalam memahami materi yang disajikan. */
#mifak > #text{
position: absolute;
width: 460px;
height: 87px;
left: 102px;
top: 1490px;

font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: justify;

color: #40336D;
}

/* button */
#mifak > #button{
    position: absolute;
    width: 330px;
    height: 80px;
    left: 102px;
    top: 1620px;

    background-color: #40336D;
    border-radius: 20px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    letter-spacing: 0.1em;

    font-color: #FFFFFF;
}

/* LET’S PLAY */
#mifak > #play{
position: absolute;
width: 148px;
height: 24px;
left: 193px;
top: 1645px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 100%;
/* identical to box height, or 24px */

letter-spacing: 0.1em;

color: #FFFFFF;
}