@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

body {
    background-image: url("gambar/about.png");
    background-position-x: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#menu {
    /* Group 1 */
    position: absolute;
    width: 1164px;
    height: 38px;
    left: 58px;
    top: 21px;
}

div#menu {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
}

div#menu>a {
    font-size: 48px;
    padding: 0;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: bold;
    color: #40336D;
    padding-left: 60px;
}

div#menu>nav {
    text-decoration: none;
    padding: 0 30px;
}

div#menu>nav>a {
    text-decoration: none;
    padding: 0 30px;
    font-size: 30px;
    color: #40336D;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.button {
    /* button */
    position: absolute;
    width: 330px;
    height: 80px;
    left: 57px;
    top: 559px;
    background-color: #40336D;
    border: none;
    border-radius: 20px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.button:hover {
    background-color: #5d4ca0;
}


/* Kenalan Yuk! */

#intro>#title {
    position: absolute;
    width: 391px;
    height: 188px;
    left: 61px;
    top: 70px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 80px;
    /* or 83% */
    display: flex;
    align-items: center;
    font-feature-settings: 'cpsp' on;
    color: #40336D;
}

#intro>#desc {
    /* Siapa sih yang buat website PARAH? Apa sih tujuan website ini dibuat? Yuk kenalan dulu! Tak kenal maka tak sayang loo.. */
    position: absolute;
    width: 391px;
    height: 138px;
    left: 58px;
    top: 332px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    text-align: justify;
    color: #40336D;
}

#history>#title {
    /* History */
    position: absolute;
    width: 150px;
    height: 60px;
    left: 500px;
    top: 785px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #40336D;
}

#history>#exp {
    /* PARAH atau Pahami soAl coRonA Hyung adalah website yang membahas seputar COVID-19 dan dibuat oleh Tim Venus. Website ini dibuat untuk memenuhi tugas Inbound dari OmahTI. */
    position: absolute;
    width: 1041px;
    height: 104px;
    left: 86px;
    top: 886px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    text-align: justify;
    color: #000000;
}

#astro>#title {
    /* Ex Astronaut */
    position: absolute;
    width: 261px;
    height: 60px;
    left: 444px;
    top: 1067px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #40336D;
}

#gambar>#kakak_kita {
    /* Rectangle 9 */
    position: absolute;
    width: 269px;
    left: 107px;
    top: 1197px;
}

#astro>#kakak_kita {
    /*   */
    position: absolute;
    width: 551px;
    height: 70px;
    left: 443px;
    top: 1304px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.09em;
    color: #40336D;
}

#team>#title {
    /* Team */
    position: absolute;
    width: 112px;
    height: 60px;
    left: 519px;
    top: 1629px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #40336D;
}

#gambar>#ali {
    /* Rectangle 10 */
    position: absolute;
    width: 269px;
    left: 764px;
    top: 1781px;
}

#team>#ali {
    /* Nama : Ahmad Ali Masykur Divisi : Cyber Security 2020 */
    position: absolute;
    width: 438px;
    height: 83px;
    left: 206px;
    top: 1896px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.09em;
    color: #40336D;
}

#gambar>#rama {
    /* Rectangle 11 */
    position: absolute;
    width: 269px;
    left: 107px;
    top: 2365px;
}

#team>#rama {
    /* Nama : Gusti Agung Rama Ayudhya Divisi : Competitive Programming 2020 */
    position: absolute;
    width: 590px;
    height: 83px;
    left: 443px;
    top: 2481px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.09em;
    color: #40336D;
}

#gambar>#handy {
    /* Rectangle 12 */
    position: absolute;
    width: 269px;
    left: 764px;
    top: 2949px;
}

#team>#handy {
    /* Nama : Albertus Handy Pramana R. Divisi : Web Design 2020 */
    position: absolute;
    width: 495px;
    height: 83px;
    left: 201px;
    top: 3043px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.09em;
    color: #40336D;
}

#gambar>#milla {
    /* Rectangle 13 */
    position: absolute;
    width: 269px;
    left: 107px;
    top: 3533px;
}

#team>#milla {
    /* Nama : Nia Millatul Izza Divisi : UI/UX 2020 */
    position: absolute;
    width: 444px;
    height: 83px;
    left: 443px;
    top: 3648px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.09em;
    color: #40336D;
}

#gambar>#faiq {
    /* Rectangle 14 */
    position: absolute;
    width: 269px;
    left: 764px;
    top: 4117px;
}

#team>#faiq {
    /* Nama : M. Raihan Faiq Abdullah Divisi : Web Development 2020 */
    position: absolute;
    width: 484px;
    height: 83px;
    left: 201px;
    top: 4232px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.09em;
    color: #40336D;
}
