@media screen and (max-width: 600px) {
  .column {
    width: 100%;
   }
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
}

#background {
    position: absolute;
    width: 1920px;
    height: 4556px;
    left: -300px;
    top: 0px;
    z-index: -1;
}

/* body {
    background-image: url("gambar/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
*/

div#menu{
    left: 0px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 1920px;
}

div#menu>a{
    font-size: 48px;
    padding: 60px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: bold;
    color: #40336D;
}

div#menu>nav{
    text-decoration: none;
    padding: 0 420px;
}

div#menu>nav>a{
    text-decoration: none;
    padding: 0 30px;
    font-size: 30px;
    color: #40336D;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}


/* Pahami Soal Corona Hyung */

div#intro{
    padding: 60px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#intro>div.head1{
    flex-direction: row-reverse;
}

div#intro>div.head1>p#title {
    width: 620px;
    height: 154px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 80%;
    /* or 77px */
    color: #40336D;
}

div#intro>div.head1>p#desc {
    /* Parah adalah website yang berisi sqd edukasi mengenai Corona afsfhescsfe afzdfdbzs zsfd beradf xxsdgsdg dgrahjsj aswvscwd */
    margin-top: -50px;
    width: 600px;
    height: 196px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
    text-align: justify;
    /* or 43px */
    color: #40336D;
}

#gambar1 {
    /* gambar1 */
    margin-top: 100px;
    width: 649px;
    height: 487px;
}

.button {
    /* button */
    width: 330px;
    height: 80px;
    background-color: #40336D;
    border: none;
    border-radius: 20px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.button:hover {
    background-color: #5d4ca0;
}

#start {
    /* LET’S START */
    position: absolute;
    width: 200px;
    height: 24px;
    left: 141px;
    top: 578px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

#menu {
    /* Group 1 */
    position: absolute;
    width: 1164px;
    height: 38px;
    left: 58px;
    top: 21px;
}

#pengertian{
    display: flex;
    padding: 0px 80px;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
}

#gambar2 {
    /* gambar2 2 */
    width: 537px;
    height: 724px;
    left: 49px;
    top: 694px;
}

.deskripsi1{
    
}

.deskripsi1>p#q {
    width: 450px;
    height: 48px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
    /* identical to box height, or 48px */
    letter-spacing: 0.015em;
    color: #40336D;
}

.deskripsi1>p#a {
    width: 610px;
    height: 460px;
    margin-top: -20px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    text-align: justify;
    color: #40336D;
}

#penularan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px 0px 60px;
}

.deskripsi2{
    margin-left: 20px;
}

.deskripsi2>p#q {
    /* Bagaimana sih penularannya? */
    width: 660px;
    height: 48px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: justify;
    /* identical to box height, or 48px */
    letter-spacing: 0.015em;
    color: #40336D;
}

#gambar3 {
    /* gambar3 2 */
    width: 700px;
    height: 630px;
}

.deskripsi2>p#a {
    width: 750px;
    height: 580px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    text-align: justify;
    color: #40336D;
}

#gejala{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -80px;
    padding: 0px 60px 0px 60px;
}

.deskripsi3>p#q {
    /* Apa aja gejala orang yang terinfeksi ? */
    width: 599px;
    height: 102px;
    margin-right: 60px;
    text-align: justify;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #40336D;
}

#gambar4 {
    /* gambar4 */
    width: 640px;
    height: 816px;
}

.deskripsi3>p#a {
    width: 599px;
    height: 515px;
    margin-right: 20px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    text-align: justify;
    color: #40336D;
}

#pencegahan{
    margin: -30px 100px 0px 100px;
}

#pencegahan>#q {
    /* Cara Mencegahnya, Bagaimana? */
    height: 48px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    text-align: justify;
    line-height: 100%;
    /* identical to box height, or 48px */
    letter-spacing: 0.1em;
    color: #40336D;
}

#pencegahan>#a {
    /* Tahukah kalian? Virus COVID-19 sampai sekarang belum ditemukan obatnya. Vaksin dari penyakit ini juga masih dalam tahap uji coba loh. Menyeramkan bukan apabila kita tertular penyakit ini. Nah, untuk menghindari virus ini ada beberapa cara pencegahan yang dapat dilakukan loh. Yuk kita simak! 1. Memakai Masker */
    height: 126px;
    margin-top: -30px;
    text-align: justify;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    text-align: justify;
    color: #40336D;
}

#gambar5 {
    /* gambar5 2 */
    width: 839px;
    height: 589px;
    padding: 0px 240px;
}

#pencegahan>#a1 {
    text-align: justify;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    text-align: justify;
    color: #40336D;
}
